h1 {
    color: red;
}

.custom-align-center {
    align-items: center;
}

#userResult {
    height: 62px;
    width: 216px;
    background-color: #0b5ed7;
}

#ComputerResult {
    height: 62px;
    width: 216px;
    background-color: #0b5ed7;
}

#gameResult {
    height: 62px;
    width: 216px;
    background-color: #ffb71c;
}